@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Scrollbar style*/
	* {
		scroll-behavior: smooth;
	}

	*::-webkit-scrollbar {
		width: 4px;
		background-color: transparent;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #f6f6f6;
		border-radius: 50px;
	}

	/* Animations */

	/* GitHub Icon */
	.githubIconAnimation {
		animation: onShowGitHub 1s ease-out running;
	}

	@keyframes onShowGitHub {
		0% {
			transform: translateX(-100%);
		}

		100% {
			transform: translateX(0%);
		}
	}

	/* Main */
	.mainAnimation h1 {
		animation: onShowMain 1s ease-in-out running;
	}

	.mainAnimation h2 {
		animation: onShowMain 2s ease-in-out running;
	}

	.mainAnimation h3 {
		animation: onShowMain 3s ease-in-out running;
	}

	@keyframes onShowMain {
		0% {
			transform: scale(0.8);
		}

		100% {
			transform: scale(1);
		}
	}
}
